// Layout-related customizations.
// Note: setup.scss is loaded after the core Just the Docs "support" layer,
// including support/_variables.scss. As a result, we cannot rely on SCSS
// variable overrides here for values that are eagerly computed in support
// (for example, $media-queries); for those, use CSS overrides in custom.scss
// instead. Variables that are only read later in the pipeline can still be
// safely overridden here.
