// Custom dark color scheme for Autonomy Systems Research
// Neutral dark grays inspired by GitHub dark mode

$link-color: #e5c07b;
$body-background-color: #0d1117;
$sidebar-color: #161b22;
$body-heading-color: #e6edf3;
$body-text-color: #c9d1d9;
$nav-child-link-color: #8b949e;
$search-background-color: #0d1117;
$search-result-preview-color: #8b949e;
$code-background-color: #161b22;
$table-background-color: #161b22;
$feedback-color: #8b949e;
$base-button-color: #21262d;
$btn-primary-color: #238636;
$border-color: #30363d;
